.about {
    padding: 84px 0 89px;
    
    @media screen and (min-width: 768px) {
        padding: 100px 0;
    }
    @media screen and (min-width: 1280px) {
        padding: 139px 0 92px;
    }
}

.about__container {
    max-width: 480px;
    padding: 0 31px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        max-width: 768px;
        padding: 0 39px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        padding: 0 91px 0 55px;
    }
}

.about__subtitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $blackText;
    position: relative;
    margin-left: 80px;
    margin-bottom: 20px;
}

.about__subtitle::before {
    position: absolute;
    left: -80px;
    top: 50%;
    content: "";    
    width: 60px;
    height: 1px;
    background-color: $blackText;
}

.about__title {
    color: $blackText;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    margin-bottom: 20px;

    @media screen and (min-width: 1280px) {
        font-size: 42px;
    }
}

.about__text {
    color: $greyTextW;
    margin-bottom: 40px;
    
    
    &--big {
        color: $greyTextW;
        font-size: 16px;
        line-height: 1.62;
        margin-bottom: 20px;

        @media screen and (min-width: 1280px) {
            font-size: 18px;
            line-height: 1.67;
        }
    }
}

.about__photo-list {
    display: none;

    @media screen and (min-width: 768px) {
    display: block;
    margin-right: 30px;
    }

    @media screen and (min-width: 1280px) {
    display: flex;
    margin-right: 64px;
    }
}

.about__photo-item {
    @media screen and (max-width: 1279px) {
        width: 330px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 1280px) {
        width: 270px;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}